﻿@model FizzBuzz.Models.UserInput

<h2>Aviva FizzBuzz</h2>

<p>
    @using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Get))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Enter Number</h4>
            <hr />
            @Html.ValidationSummary(true, "")
            <div class="form-group">
                @Html.LabelFor(model => model.UserEntry)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserEntry, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserEntry, "")
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Enter" />
           </div>
        </div>
    }
</p>
