﻿@model IEnumerable<FizzBuzz.Models.FizzBuzzResult>

@{
    ViewBag.Title = "title";
}

<h2>FizzBuzz Results</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FizzBuzzRes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <font color=@item.FontColor>
                    @Html.DisplayFor(modelItem => item.FizzBuzzRes)
                </font>
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to Entry", "Index")
</div>